.home-container {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-image {
  /* background-image: url('https://i.im.ge/2024/02/15/cz0SO9.vecteezy-medicine-doctor-hand-working-with-modern-computer-interface-5243367.jpg'); */
  background-image: url('https://i.im.ge/2024/02/15/cz07hM.Doc.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
}

.floating-card {
  width: 310px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.doctor-card {
  right: 150px;
  margin-top: -80px;
}

.patient-card {
  right: -200px;
  margin-top: 70px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}
