.medicine-detail-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid black;
  width: 300px;
  background: #dde6ed;
}

h2 {
  color: #333;
}

.box {
  height: 500px;
}

.medicine-name {
  text-align: center;
}
